{% extends "public/base.html" %} {% block content %}
	<!--主体-->
{% load static from staticfiles %}
<div class="content">
  <div class="content_box">
	<div class="men"> 	
	 <h1 class="contact_head">关于鱼圈圈</h1>
	 <div class="contact_box">
	  <div class="col-sm-12">
	  	 <address class="addr">
	 		<p><span style="color:#e05b5b"><strong>成都鱼圈圈水族创意空间</strong></span>是由一群从农业大学水产养殖专业毕业的年轻人创办。学校的学习让我们掌握了丰富的水产养殖理论基础，在广州上海等大型一线水族企业多年的水族养殖和营销工作也让我们积累了大量行业经验。
	 		鱼圈圈水族致力于让您的空间多一丝色彩，生活多一份乐趣。这里有热带鱼，冷水鱼，乌龟等形形色色、稀奇古怪的水生生物和水草；有各式各样的水族设备和水族周边；
	 		并且我们还提供水族造景DIY设计，鱼只和鱼缸设备的租赁和定期上门养护清洗，展会上的水族及手工相关的活动策划和组织等服务。走进鱼圈圈，走近这些可爱的鱼儿，您的生活一定会更加充实，更加丰富多彩！</p>
	 	</address>
	 	</div>
	  <div class="col-sm-5 col-sm-offset-2">
	  	 <address class="addr">
              <h4>联系方式</h4>
              <dl style="margin-top:23px">
                <dt>地址:</dt>
                <dd>四川省成都市武侯区玉林西路33号</dd>
              </dl>
              <dl>
                <dt>电话:</dt>
                <dd>186-1323-5339</dd>
              </dl>
              <dl>
                <dt>微信:</dt>
                <dd>haxiongmao123</dd>
              </dl>
              <dl>
                <dt>官方微博:<a href="http://weibo.com/u/5319535797"><img src="{% static 'public/img/weibo-2.png'%}"
										alt="" /></a></dt>
                <dd><strong>官方微信:</strong><a href="/static/public/img/erweima.jpg"><img src="{% static 'public/img/weixin-2.png'%}"
										alt="" /></a></dd>
              </dl>
           </address>
	     </div>
	     <div class="col-sm-5">
	  	 <address class="addr">
              <img src="{% static 'public/img/marketdoor.jpg'%}" style="heigt:300px" alt=""/>
            </address>
	     </div>
	     <div class="clearfix"> </div>
	   </div>

    </div>

   </div>
</div>	
{% endblock %}