{% extends "public/base.html" %} {% block content %} {% load static from staticfiles %}
<script type="text/javascript">
	var product_server={{ Product|safe}};
	console.log(JSON.stringify(product_server));
	var intro_server={{ Introduction|safe}};
	console.log(JSON.stringify(intro_server));
</script>
<link href="{% static 'public/css/etalage.css'%}" rel='stylesheet' type='text/css' />
<script type="text/javascript" src="{% static 'public/js/detail.js'%}"></script>
<script type="text/javascript" src="{% static 'public/js/jquery.etalage.min.js'%}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($){
				var detail = new Detail();
				detail.setProductImgs($('#etalage'));
				detail.setProductName($('#product_name'));
				detail.setProductPrice($('#product_price'));
				detail.setBriefIntro($('#brief_intro'));
				detail.setRaiseMethod($('#raise_method'));
				detail.setUseMethod($('#use_method'));
				detail.setRemarks($('#remarks'));
				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
</script>
<div class="content">
  <div class="content_box">
  	<span id="test"></span>
	<div class="men">
	  <div class="single_top">
	       <div class="col-md-9 single_right">
	   	       <div class="grid images_3_of_2">
						<ul id="etalage">
							
						</ul>
						 <div class="clearfix"></div>		
				  </div> 
				  <div id="product_info" class="desc1 span_3_of_2">
				    <h1 id="product_name" style="color: #CE0C0C; font-size: 1.6em;"></h1>
				    <p id="product_price" class="m_5"></p>
				    <div class="btn_form">
						<a class="btn1 btn4 btn-1 btn1-1b buy">买</a>
					 </div>
					 <span class="m_link"><a id="intro_link" href="{% url 'knowledge'%}"></a> </span>
					 <p id="brief_intro" class="m_text2"></p>
				  </div>
				  <div class="clearfix"></div>	
       </div>
       <div class="col-md-3">
      	<!-- FlexSlider -->
              <section class="slider_flex">
				  <div class="flexslider">
					<ul class="slides">
						<li><img src="{% static 'public/img/m2.jpg'%}" class="img-responsive" alt=""/></li>
						<li><img src="{% static 'public/img/m3.jpg'%}" class="img-responsive" alt=""/></li>
						<li><img src="{% static 'public/img/m4.jpg'%}" class="img-responsive" alt=""/></li>
						<li><img src="{% static 'public/img/m5.jpg'%}" class="img-responsive" alt=""/></li>
				    </ul>
				  </div>
	          </section>
<!-- FlexSlider -->
      </div>
      <div class="clearfix"> </div>
     </div>
       <div class="toogle">
     	<h2>饲养方法</h2>
     	<p id="raise_method" class="m_text2"></p>
     </div>
     <div class="toogle">
     	<h2>使用说明</h2>
     	<p id="use_method" class="m_text2"></p>
     </div>
     <div class="toogle">
     	<h2>备注信息</h2>
     	<p id="remarks" class="m_text2"></p>
     </div>
     <h4 class="head_single">相关推荐</h4>
             <div class="single_span_3">
	          	 <div class="col-sm-3 span_4">
	          	     <a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a href="#" class="btn1 btn6 btn-1 btn1-1b" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
			     </div> 
				 <div class="col-sm-3 span_4">
	          	     <a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a href="#" class="btn1 btn6 btn-1 btn1-1b" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
			      </div> 
				  <div class="col-sm-3 span_4">
	          	     <a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a href="#" class="btn1 btn6 btn-1 btn1-1b" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
			      </div> 
				  <div class="col-sm-3 span_4">
	          	     <a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a href="#" class="btn1 btn6 btn-1 btn1-1b" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
			      </div> 
				  <div class="clearfix"></div>
	     </div>
    </div>
   </div>
</div>	
{% endblock %}
	