{% extends "public/base.html" %} {% block content %} {% load static from staticfiles %}
<div class="content">
	<div class="content_box">
		<div class="span_of_4">
			<div class="col-md-3 box_4">
				<h4>鱼类介绍</h4>
				<ul class="f_nav">
					<li><a href="#">锦鲤</a></li>
					<li><a href="#">小丑鱼</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">accessories</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">trends</a></li>
					<li><a href="#">sale</a></li>
					<li><a href="#">style videos</a></li>
				</ul>
			</div>
			<div class="col-md-3 box_4">
				<h4>养护知识</h4>
				<ul class="f_nav">
					<li><a href="#">锦鲤养护</a></li>
					<li><a href="#">热带鱼养护</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">accessories</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">brands</a></li>
				</ul>
			</div>
			<div class="col-md-3 box_4">
				<h4>造景设计</h4>
				<ul class="f_nav">
					<li><a href="#">风水研究</a></li>
					<li><a href="#">create an account</a></li>
					<li><a href="#">create wishlist</a></li>
					<li><a href="#">my shopping bag</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">create wishlist</a></li>
				</ul>
			</div>
			<div class="col-md-3 box_4">
				<h4>常见问题</h4>
				<ul class="f_nav">
					<li><a href="#">new arrivals</a></li>
					<li><a href="#">men</a></li>
					<li><a href="#">women</a></li>
					<li><a href="#">accessories</a></li>
					<li><a href="#">kids</a></li>
					<li><a href="#">brands</a></li>
					<li><a href="#">trends</a></li>
					<li><a href="#">sale</a></li>
					<li><a href="#">style videos</a></li>
					<li><a href="#">login</a></li>
					<li><a href="#">brands</a></li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}
