{% extends "public/base.html" %} {% block content %}
{% load static from staticfiles %}
<div class="content">
  <div class="content_box">
   
	<div class="men">
	 <p>您的咨询、赞赏、建议和意见都是我们进步的动力！</p>
	   <div class="contact_form">
	   	  <h2>留言箱</h2>
	           <form>
					<div class="row_5">
                     	<input type="text" class="text" value="称呼" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '称呼';}">
					 	<input type="text" class="text" value="联系方式" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '联系方式';}" style="margin-left:20px">
					 	<!-- <input type="text" class="text" value="Subject" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '主题';}" style="margin-left:20px"> -->
					 	<div class="clearfix"></div>
					</div>
					<div class="row_6">
	                   <textarea value="留言:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '留言:';}">留言:</textarea>
	                </div>
	                <div style="text-align:right"><input name="submit" type="submit" id="submit" value="提交"></div>
			        <div class="clearfix"></div>
               </form>
       </div>
    </div>
   </div>
</div>
{% endblock %}	