{% extends "public/base.html" %} {% block content %} {{message}}

<div class="row">
	<!--左边栏-->
	<div class="col-sm-3 well">网友留言</div>
	<!--右边栏-->
	<div class="col-sm-9">
		欢迎为我们留言：
		<table style="width: 100%;border-spacing:10px">
			<thead>
				<tr>
					<th style="width: 5%"></th>
					<th style="width: 50%"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>我的称呼：</td>
					<td>
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									先生 <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">先生</a></li>
									<li><a href="#">女士</a></li>
								</ul>
							</div>
							<!-- /btn-group -->
							<input type="text" class="form-control" aria-label="...">
						</div> <!-- /input-group -->
					</td>
				</tr>
				<tr>
					<td>联系方式：</td>
					<td>
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									电话 <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">微信</a></li>
									<li><a href="#">QQ</a></li>
									<li><a href="#">邮箱</a></li>
								</ul>
							</div>
							<!-- /btn-group -->
							<input type="text" class="form-control" aria-label="...">
						</div> <!-- /input-group -->
					</td>
				</tr>
				<tr>
					<td>留言信息：</td>
					<td>
						<div class="input-group">
							<div class="input-group-btn">
								<button type="button" class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" aria-haspopup="true"
									aria-expanded="false">
									咨询 <span class="caret"></span>
								</button>
								<ul class="dropdown-menu">
									<li><a href="#">建议</a></li>
									<li><a href="#">感谢</a></li>
									<li><a href="#">投诉</a></li>
								</ul>
							</div>
							<!-- /btn-group -->
						
							<textarea rows="2" class="form-control" aria-label="..."></textarea>
						</div> <!-- /input-group -->
					</td>
				</tr>
				<tr>
					<td></td>
					<td style="padding-right:20px" align="right"><button class="btn btn-primary btn-lg">提交</button></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
