{% extends "public/base.html" %} {% block content %} {% load static from staticfiles %}
<script type="text/javascript">
	var products_server={{ Products|safe}};
	console.log(JSON.stringify(products_server));
</script>
<script type="text/javascript" src="{% static 'public/js/products.js'%}"></script>
<script type="text/javascript">
			jQuery(document).ready(function($){
				var products = new Products();
				products.showItems($('#productlist'));
				
				//set select selected
				var url=window.location.href;
				var from = url.indexOf('products')+9;
				var arr = url.substring(from).split('/')
				arr.splice($.inArray('',arr),1); 
				arr.splice($.inArray('none',arr),1); 
				console.log(arr[0]);
				var creatureGroup=new Array('creature','redaiyu','lengshuiyu','shuicao','wugui','beilei','cre_other');
				var equipmentGroup=new Array('equipment','yugang','shuibeng','jiareqi','guolvqi','shuiwenji','equ_other');
				var otherGroup=new Array('other','dsy_sl','rdy_sl','shanhushi','huotanfen','oth_other');
				if($.inArray(arr[0],creatureGroup)!=-1){
					$('#catalog-select').val('creature');
				}
				else if($.inArray(arr[0],equipmentGroup)!=-1){
					$('#catalog-select').val('equipment');
				}
				else if($.inArray(arr[0],otherGroup)!=-1){
					$('#catalog-select').val('other');
				}

				//bind onchange event for select
				$('#catalog-select').change(function(){
					var catalogue=$(this).children('option:selected').val();//这就是selected的值
					if(catalogue=='all'){
						window.location.href="/products";//页面跳转并传参
					}
					else{
						window.location.href="/products/"+catalogue+"/none";//页面跳转并传参
					}
				}) 
			});
</script>
<script type="text/javascript" src="{% static 'public/js/popup.js'%}"></script>
<div class="content">
	<div class="content_box">
	<div id="test"></div>
		<div class="men">
			<div class="col-md-3 sidebar">
				<div class="block block-layered-nav">
					<div class="block-title">
						<strong><span>分类</span></strong>
					</div>
					<div class="block-content">
						<dl id="narrow-by-list">
							<dt class="odd"><a href="/products" style="color:#e05b5b">全部商品</a></dt>
	
							<dt class="odd"><a href="/products/creature/none" style="color:#e05b5b">水生生物</a></dt>
							<dd class="odd">
								<ol>
									<li><a href="/products/none/lengshuiyu"><span class="price1">冷水鱼</span></a> (11+)</li>
									<li><a href="/products/none/redaiyu"><span class="price1">热带鱼</span></a> (26+)</li>
									<li><a href="/products/none/gui"><span class="price1">龟</span></a> (1)</li>
									<li><a href="/products/none/shuicao"><span class="price1">水草</span></a> (17+)</li>
									<li><a href="#"><span class="price1">贝类</span></a> (1)</li>
									<li><a href="#"><span class="price1">其他</span></a> (1)</li>
								</ol>
							</dd>
							<dt class="even"><a href="/products/equipment/none" style="color:#e05b5b">水族设备</a></dt></dt>
							<dd class="even">
								<ol>
									<li><a href="/products/none/yugang">鱼缸</a> (15+)</li>
									<li><a href="/products/none/guolvshebei">过滤设备</a> (3+)</li>
									<li><a href="/products/none/jiawenbang">加温设备</a> (7+)</li>
									<li><a href="/products/none/zengyangshebei">增氧设备</a> (4+)</li>
									<li><a href="/products/none/shuizudeng">照明设备</a> (3+)</li>
									<li><a href="/products/none/wenduji">水温计</a> (4+)</li>
									<li><a href="#">捞鱼网</a> (1)</li>
									<li><a href="#">其他</a> (1)</li>
								</ol>
							</dd>
							<dt class="last odd"><a href="/products/other/none" style="color:#e05b5b">饲料和其他</a></dt>
							<dd class="last odd">
								<ol>
									<li><a href="/products/none/xingzhuangsiliao">按形状分饲料</a> (9+)</li>
									<li><a href="/products/none/gongnengsiliao">按功能分饲料</a> (8+)</li>
									<li><a href="/products/none/yaoji">常用药剂</a> (26+)</li>
									<li><a href="/products/none/shashi">造景沙石</a> (18+)</li>
									<li><a href="#">造景玩偶</a> (1)</li>
									<li><a href="#">沉木</a> (1)</li>
									<li><a href="#">活碳粉</a> (1)</li>
									<li><a href="#">其他</a> (1)</li>
								</ol>
							</dd>
						</dl>
					</div>
				</div>
				<div class="block block-cart">
					<div class="block-title">
						<strong><span>热销推荐</span></strong>
					</div>
					<div class="block-content">
						<p class="empty">暂无</p>
					</div>
				</div>
				<div class="block block-list block-compare">
					<div class="block-title">
						<strong><span>我已挑选</span></strong>
					</div>
					<div class="block-content">
						<p class="empty">我还没有挑选东西</p>
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="mens-toolbar">
					<div class="sort">
						<div class="sort-by">
							<label>分类</label> <select id="catalog-select">
								<option value="all">全部商品</option>
								<option value="creature">水生生物</option>
								<option value="equipment">水族设备</option>
								<option value="other">饲料和其他</option>
							</select>
						</div>
					</div>
					<!-- <div class="pager">
						<div class="limiter visible-desktop">
							<label>Show</label> <select>
								<option value="" selected="selected">9</option>
								<option value="">15</option>
								<option value="">30</option>
							</select> per page
						</div>
						<ul class="dc_pagination dc_paginationA dc_paginationA06">
							<li><a href="#" class="previous">Pages</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
						</ul>
						<div class="clearfix"></div>
					</div> -->
					<div class="clearfix"></div>
				</div>
				<div id="productlist"></div>
				<!-- <div class="span_3">
					<div class="col_1_of_single1 span_1_of_single1">
						<a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a class="btn1 btn6 btn-1 btn1-1b buy" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
					</div>
					<div class="col_1_of_single1 span_1_of_single1">
						<a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a class="btn1 btn6 btn-1 btn1-1b buy" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
					</div>
					<div class="col_1_of_single1 span_1_of_single1">
						<a href="{% url 'detail'%}"> <img
							src="{% static 'public/img/m1.jpg'%}" class="img-responsive"
							alt="" />
						</a>
						<h3>血色鹦鹉</h3>
						<p>财源滚滚发财鱼</p>
						<a class="btn1 btn6 btn-1 btn1-1b buy" style="margin-top:0px;padding: 3px 20px">888</a>
						<a href="{% url 'detail'%}" style="font-size:50%;margin-left: 1em;">详情</a>
					</div>
					<div class="clearfix"></div>
				</div> -->
				<!-- <div id="productlist" class="span_3">
					<div class="clearfix"></div>
				</div> -->
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endblock %}
