{% extends "public/base.html" %} {% block content %} {% load static from staticfiles %}
<div class="content">
	<div class="content_box">
		<div class="men">
			<div class="account-in">
			<div class="col-md-4 left-account ">
					<a href="single.html"><img class="img-responsive img-active"
						src="{% static 'public/img/s4.jpg'%}" alt=""></a>
					<div class="five-in">
						<h1>25%</h1>
						<span>discount</span>
					</div>
					<a href="register.html" class="create">服务预约</a>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 left-account ">
					<a href="single.html"><img class="img-responsive "
						src="{% static 'public/img/s4.jpg'%}" alt=""></a>
					<div class="five-in">
						<h1>25%</h1>
						<span>discount</span>
					</div>
					<a href="register.html" class="create">服务预约</a>
					<div class="clearfix"></div>
				</div>
				<div class="col-md-4 left-account ">
					<a href="single.html"><img class="img-responsive "
						src="{% static 'public/img/s4.jpg'%}" alt=""></a>
					<div class="five-in">
						<h1>25%</h1>
						<span>discount</span>
					</div>
					<a href="register.html" class="create">服务预约</a>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
