{% extends "public/base.html" %} {% block content %} {{share}} 
{% load static from staticfiles %}
<div class="row">
	<!--左边栏-->
	<div class="col-sm-3 well">左边栏</div>
	<!--右边栏-->
	<div class="col-sm-9">
		<div class="row">
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					src="{% static 'public/img/products.jpg'%}" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					src="{% static 'public/img/products.jpg'%}" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					src="{% static 'public/img/products.jpg'%}" alt="...">
				</a>
			</div>
			<div class="col-xs-6 col-md-3">
				<a href="#" class="thumbnail"> <img
					src="{% static 'public/img/products.jpg'%}" alt="...">
				</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
