{% extends "public/base.html" %} {% block content %} {% load static from staticfiles %}
<script type="text/javascript">
				var tips={{ tips|safe}};
				//console.log(tips['content']);
</script>
<script type="text/javascript">
	jQuery(document).ready(function($){
		$("#tip_title").html(tips['title']);
		$("#tip_content").html(tips['content']);
	});
</script>
<div class="content">
	<div class="content_box" style="padding-top: 10px;">
		<div class="panel" style="border-color: #e05b5b;border-radius: 0px;">
			<div class="panel-heading" style="background-color:#e05b5b;border-color:#e05b5b;">
				<h3 class="panel-title" id="tip_title" ></h3>
			</div>
			<div class="panel-body" id="tip_content">
				
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}
