.navbar-div {
	background-color: #84C0F2;
}
.navbar {
    border-radius: 0px; 
}
.brand-img {
	height: 60px;
}
.brand-bottom-img {
	height:80px;
}
li>a{
	min-height: 60px;
	font-size: 18px;
	color: white;
}
.navbar-brand {
	padding: 0px;
}
.dropdown-menu {
	min-width:0px;
	background-color: #080808;
}
.dropdown-menu>li>a {
	color:white;
	min-height: 40px;
}
.dropdown-menu .divider{
	margin:0px;
}
.navbar-inverse .navbar-nav>li>a {
	color:#DAD6D6;
}

.container-fluid{
	margin-left: 70px;
}
.navbar-nav{
	margin-left: 30px;
}