#carousel-example-generic {
	height:330px
}
.carousel-inner {
	height:330px
}

.carousel-caption{
	padding-bottom:0px
}
.carousel-indicators{
	bottom:0px
}

.item{
	height:330px;
}

img {display:block; margin:0 auto;}